<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="ceui.lisa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <dist:module dist:instant="true" />

    <application
        android:name=".activities.Shaft"
        android:allowBackup="true"
        android:icon="@mipmap/logo_final"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_final_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pixiv.net"
                    android:path="/"
                    android:scheme="http" />
                <data
                    android:host="www.pixiv.net"
                    android:path="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TemplateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.RankActivity" />
        <activity android:name=".activities.ImageDetailActivity" />
        <activity
            android:label="@string/string_310"
            android:name=".activities.OutWakeActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pixiv.net"
                    android:scheme="http" />
                <data
                    android:host="www.pixiv.net"
                    android:scheme="https" />


            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="i.pximg.net"
                    android:scheme="http" />
                <data
                    android:host="i.pximg.net"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pixiv.me"
                    android:scheme="http" />

                <data
                    android:host="www.pixiv.me"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pixiv" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <meta-data
            android:name="ceui.lisa.core.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name=".activities.UserActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.VActivity" />
        <activity android:name=".activities.UActivity" />
        <activity
            android:label="@string/string_311"
            android:name=".activities.OutReversActivity" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.VPActivity" />
        <activity android:name=".activities.NovelActivity" />

    </application>

    <queries>
        <package android:name="com.sina.weibo" />
    </queries>

</manifest>