name: CI

on:
  push:
    branches:
      - master
      - classic
    tags:
      - v*.*.*
  pull_request:
    branches:
      - master
      - classic
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'renovate.json'
      - '.editorconfig'
      - '.gitignore'
      - '.github/**'
      - '.idea/**'
      - '!.github/workflows/**'
  workflow_dispatch:

env:
  ORIGINAL_PROJECT: "CeuiLiSA/Pixiv-Shaft"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build apk
    runs-on: ubuntu-24.04

    steps:
      - name: Clone repo
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Detect branch
        if: github.ref_type == 'branch'
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

          if [ "$BRANCH_NAME" = "master" ]; then
            echo "APK_SUFFIX=master" >> $GITHUB_ENV
          elif [ "$BRANCH_NAME" = "classic" ]; then
            echo "APK_SUFFIX=classic" >> $GITHUB_ENV
          fi

      - name: Build debug apk
        if: github.ref_type == 'branch'
        run: ./gradlew assembleDebug

      - name: Upload debug artifact
        if: github.ref_type == 'branch'
        uses: actions/upload-artifact@v4
        with:
          name: apk-debug-${{ env.APK_SUFFIX }}
          path: app/build/outputs/apk/debug

      - name: Get tag name
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        run: |
          set -x
          version_tag=${GITHUB_REF/refs\/tags\//}
          version_tag_short=`echo $version_tag | awk 'NR==1,/v/{sub(/v/, "");print}'`
          echo "VERSION_TAG=$version_tag" >> $GITHUB_ENV
          echo "VERSION_TAG_SHORT=$version_tag_short" >> $GITHUB_ENV

      - name: Build release apk
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        run: ./gradlew assembleRelease

      - name: Deal with release apk
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        run: |
          cp app/build/outputs/apk/release/app-release.apk app-release.apk
          cp app-release.apk PixShaft_${VERSION_TAG_SHORT}.apk
          sha1=`sha1sum app-release.apk | awk '{ print toupper($1) }'`
          sha256=`sha256sum app-release.apk | awk '{ print toupper($1) }'`
          echo "APK_SHA1=$sha1" >> $GITHUB_ENV
          echo "APK_SHA256=$sha256" >> $GITHUB_ENV

      - name: Draft release
        if: startsWith(github.ref, 'refs/tags/') && github.repository == env.ORIGINAL_PROJECT
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.VERSION_TAG }}
          name: ${{ env.VERSION_TAG }}
          body: |
            # 更新内容
            ### 新增
            * 
            * 
            ### 修改
            * 
            * 
            ### 修复
            * 
            * 
            
            ```
            SHA-1: ${{ env.APK_SHA1 }}
            SHA-256: ${{ env.APK_SHA256 }}
            ```
          files: |
            PixShaft_${{ env.VERSION_TAG_SHORT }}.apk
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
